<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/grid/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/logoutButton.css">
    <title>purchase page</title>
    <style>
        *{
          padding:0;
          margin:0;
        }
        body{
          /* background-image:linear-gradient(white,pink,magenta); */
          background-image: url('static/images/for_home_background.png');
          background-size: cover;
          background-repeat: no-repeat;
          /* height: 100vh; */
          font-size: 20px;
        }
      .class-for-body{
        background-color:rgba(220, 249, 116, 0.5);
        height:100vh;
      }
      .list-group-item:hover{
        background:black;
        color:white;
      }
    </style>
  </head>
  <body>
    <div class="class-for-body">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <div style="margin:10px"></div>
            <li class="nav-item">
              <a class="nav-link" href="/feedbackpage">Add a feedback</a>
            </li>
            <div style="margin:10px"></div>
            <li class="nav-item">
              <a class="nav-link" href="/aboutUs">About Us</a>
            </li>
            <div style="margin:10px"></div>
            <li class="nav-item">
              <a class="nav-link" href="/customerReview">Customer Reviews</a>
            </li>
          </ul>
          <span class="navbar-text">
            <img src="static/images/logo_for_navbar.png" style="height:50px;padding:unset;border-radius:10px;box-shadow:1px 1px 5px 1px grey,-1px -1px 5px 1px blue">
            <span class="logout-button">
              <a href="/logout" style="text-decoration:none;color:red">Logout</a>
            </span>
          </span>
        </div>
      </nav>
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" style="position:absolute;right:0;left:0">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div style="margin:30px"></div>
        <div class="container">
            <h1>Transaction successfull !</h1>
            <h2>Here's your receipt</h2>
            <h3>Seller name : </h3>
            <h3>Buyer name : </h3>
            <h3>Car number : </h3>
            <h3>Car name : </h3>
            <h3>Registration number : </h3>
            <img src="" alt="">
        </div>  
    </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>